<div class="col-md-12 col-xs-12">
    <h4 dg-edit="data.exhibition.subtitle" 
        dg-edit-type="textarea" 
        ng-bind-html="data.exhibition.subtitle"></h4>
</div>
<div class="clearfix"></div>

<div class="col-md-8 col-sm-8 col-xs-12">
    <p dg-edit="data.exhibition.text"
       dg-edit-type="textarea"
       ng-bind-html="data.exhibition.text"></p>
</div>

<div class="col-md-4 col-sm-4 col-xs-12">
    <div ng-repeat="(index, image) in data.exhibition.images">
        <div>
            <div class="btn-group overlaid-buttons pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="moveUp(data.exhibition.images, index)">
                    <i class="fa fa-caret-square-o-up"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="moveDown(data.exhibition.images, index)">
                    <i class="fa fa-caret-square-o-down"></i>
                </button>
                <a class="btn btn-danger btn-xs" ng-click="removeIndex(data.exhibition.images, index)">
                    <i class="fa fa-trash"></i>
                </a>
            </div>              
            <img dg-edit="data.exhibition.images[{{index}}]" dg-edit-type="file" ng-src="{{image.webpath}}" />
        </div>
        <div class="caption small" 
             dg-edit="data.exhibition.images[{{index}}].caption" 
             dg-edit-type="textarea"
             dg-edit-label="edit caption"
             ng-bind-html="image.caption">{{image.caption}}</div>        
    </div>
    <div dg-repeat="images" dg-repeat-parent="data.exhibition"></div>
</div>