<div ng-repeat="(index, file) in data.filelist.filelist"
     class="col-md-2 col-sm-2 col-xs-4"
     ng-class="{'col-md-offset-2 col-sm-offset-2' : !($index % 5)}"> 
    <div class="pressbox">
        <h4 ng-bind-html="file.publication"></h4>
        <p>{{article.date}}</p>
        <p ng-show="file.link"><i class="fa fa-globe"></i> <a target="_file" href="{{file.link}}">Visit Website</a></p>
        <p ng-show="file.file.webpath"><i class="fa fa-file-pdf-o"></i> <a target="_file" href="{{file.file.webpath}}">View PDF</a></p>
    </div>
</div>