<div class="margin-bottom-sm" ng-repeat="(index, article) in data.press.press track by $index">        
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            
            <a class="btn btn-danger btn-xs pull-left" ng-click="removeIndex(data.press.press, index)">
                <i class="fa fa-trash"></i>
            </a>
            
             <div class="btn-group pull-right" role="toolbar">
                <button type="button" class="btn btn-default btn-xs" ng-click="moveUp(data.press.press, index)">
                    <i class="fa fa-caret-square-o-up"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="moveDown(data.press.press, index)">
                    <i class="fa fa-caret-square-o-down"></i>
                </button>
            </div>                     
            
            
        </div>    
    
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

            <label class="control-label col-sm-2">Date:</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                 <input placeholder="MM/DD/YYY" class="form-control" ng-model="article.date" />  
            </div>
    
            <label class="control-label col-sm-2">Publication:</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                 <input class="form-control" ng-model="article.publication" /> 
            </div>
    
            <label class="control-label col-sm-2">Link:</label>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <input class="form-control" ng-model="article.link" />
            </div>

            <label class="control-label col-sm-2">File:</label>
            <div class="col-sm-2 col-xs-2">
                <div role="button" class="btn button btn-default">
                    <i dg-edit="data.press.press[{{index}}].file" 
                       dg-edit-type="file"
                       dg-edit-hover="false"
                       class="fa fa-file-pdf-o"></i>
                    Select File
                </div>
            </div>
            <div class="col-sm-8 col-xs-8">
                <input disabled type="text" 
                       class="form-control" 
                       placeholder="click button at left to select file"  
                       ng-model="article.file.webpath" aria-describedby="basic-addon1">        
            </div>                       
        
        </div>
    
    </div>
 
    <div class="clearfix"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div dg-repeat="press" dg-repeat-parent="data.press"></div>
</div>

<hr />
<h4>Live Preview</h4>
<hr />

<div ng-repeat="(index, article) in data.press.press"
     class="col-md-2 col-sm-2 col-xs-4"
     ng-class="{'col-md-offset-2 col-sm-offset-2' : !($index % 5)}"> 
    <div class="pressbox">
        <h4 ng-bind-html="article.publication"></h4>
        <p>{{article.date}}</p>
        <p><i class="fa fa-globe"></i> <a target="_press" href="{{article.link}}">Vist Website</a></p>
        <p><i class="fa fa-file-pdf-o"></i> <a target="_press" href="{{article.file.webpath}}">View PDF</a></p>
    </div>
</div>